modules = ["nodejs-20"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install --no-frozen-lockfile && pnpm run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

#[[ports]]
#localPort = 22581
#externalPort = 80

[userenv]

[userenv.shared]
BQ_PROJECT = "revrebel-metrics"
BQ_DATASET_ID = "metrics_core"
BQ_DATA_LOCATION = "us-central1"
BQ_PROJECT_ID = "revrebel-metrics"

[agent]
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
