@import "tailwindcss";

@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "../assets/fonts/rebel-fonts.css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-brand: 'Barlow', sans-serif;
  --font-display: 'Khand', sans-serif;
  --font-sans: 'Khand', sans-serif;
  --font-serif: 'Funnel Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --background: oklch(98% 0 0deg);
  --foreground: oklch(27% 0.09 254.40deg);
  --card: oklch(100% 0.0001 271.152deg);
  --card-foreground: oklch(27% 0.09 254.40deg);
  --popover: oklch(98% 0 0deg);
  --popover-foreground: oklch(27% 0.09 254.40deg);
  --primary: oklch(27% 0.09 254.40deg);
  --primary-foreground: oklch(98% 0 0deg);
  --secondary: oklch(96% 0.01 210deg);
  --secondary-foreground: oklch(27% 0.09 254.40deg);
  --muted: oklch(96% 0 0deg);
  --muted-foreground: oklch(27% 0.09 254.40deg);
  --accent: oklch(96% 0.01 210deg);
  --accent-foreground: oklch(27% 0.09 254.40deg);
  --border: oklch(27% 0.09 254.40deg);
  --input: oklch(27% 0.09 254.40deg);
  /* States */
  --destructive: oklch(55% 0.21 31.81deg);
  --destructive-foreground: oklch(83% 0.04 220deg);
  --info: oklch(83% 0.04 220deg);
  --info-foreground: oklch(27% 0.09 254.40deg);
  --success: oklch(65% 0.12 219.43deg);
  --success-foreground: oklch(84% 0.14 85deg);
  --warning: oklch(55% 0.21 31.81deg);
  --warning-foreground: oklch(84% 0.14 85deg);
  --ring: oklch(78% 0.11 195.12deg);
  /* Charts */
  --chart-1: oklch(52% 0.10 230.09deg);
  --chart-2: oklch(65% 0.12 219.43deg);
  --chart-3: oklch(78% 0.11 195.12deg);
  --chart-4: oklch(83% 0.04 220deg);
  --chart-5: oklch(84% 0.14 85.21deg);
  --chart-6: oklch(66% 0.18 44.85deg);
  --chart-7: oklch(55% 0.21 32deg);
  --chart-8: oklch(45% 0.14 340deg);
  /* REVREBEL */
  --primary-inverse: oklch(83% 0.04 220deg);
  --color-1: oklch(52% 0.10 230.09deg);
  --color-1-fade: color-mix(in srgb, var(--color-1) 80%, white 20%);
  --color-1-inverse-fade: color-mix(in srgb, var(--color-1-inverse) 90%, black 10%);
  --color-1-inverse: oklch(96% 0.01 210deg);
  --color-2: oklch(78% 0.11 195.12deg);
  --color-2-fade: color-mix(in srgb, var(--color-2) 80%, white 20%);
  --color-2-inverse: oklch(84% 0.14 85.21deg);
  --color-2-inverse-fade: color-mix(in srgb, var(--color-2-inverse) 80%, white 20%);
  --color-3: oklch(78% 0.11 195.12deg);
  --color-3-fade: color-mix(in srgb, var(--color-3) 80%, white 20%);
  --color-3-inverse: oklch(45% 0.14 340deg);
  --color-3-inverse-fade: color-mix(in srgb, var(--color-3-inverse) 80%, white 20%);
  --color-4: oklch(83% 0.04 220deg);
  --color-4-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse: oklch(27% 0.09 254.40deg);
  --color-5: oklch(84% 0.14 85.21deg);
  --color-5-fade: color-mix(in srgb, var(--color-5) 80%, white 20%);
  --color-5-inverse-fade: color-mix(in srgb, var(--color-5-inverse) 90%, white 10%);
  --color-5-inverse: oklch(27% 0.09 254.40deg);
  --color-6: oklch(66% 0.18 45deg);
  --color-6-fade: color-mix(in srgb, var(--color-6) 80%, white 20%);
  --color-6-inverse-fade: color-mix(in srgb, var(--color-6-inverse) 80%, white 20%);
  --color-6-inverse: oklch(27% 0.09 254.40deg);
  --color-7: oklch(55% 0.21 32deg);
  --color-7-fade: color-mix(in srgb, var(--color-7) 85%, black 15%);
  --color-7-inverse-fade: color-mix(in srgb, var(--color-4-inverse) 85%, black 15%);
  --color-7-inverse: oklch(83% 0.04 220deg);
  --color-8: oklch(45% 0.14 340deg);
  --color-8-fade: color-mix(in srgb, var(--color-8) 80%, white 20%);
  --color-8-inverse-fade: color-mix(in srgb, var(--color-8-inverse) 80%, white 20%);
  --color-8-inverse: oklch(78% 0.11 195.12deg);
  --color-9: oklch(96% 0.01 210deg);
  --color-9-fade: color-mix(in srgb, var(--color-9) 80%, white 20%);
  --color-9-inverse-fade: color-mix(in srgb, var(--color-9-inverse) 80%, white 20%);
  --color-9-inverse: oklch(27% 0.09 254.40deg);
  /* Sidebar */
  --sidebar: oklch(96% 0 0deg);
  --sidebar-foreground: oklch(27% 0.09 254.40deg);
  --sidebar-primary: oklch(27% 0.09 254.40deg);
  --sidebar-primary-foreground: oklch(83% 0.04 220deg);
  --sidebar-accent: oklch(65% 0.12 219.43deg);
  --sidebar-accent-foreground: oklch(84% 0.14 85deg);
  --sidebar-border: oklch(96% 0 0deg);
  --sidebar-ring: oklch(78% 0.11 195.12deg);
  /* Shadows */
  --shadow-2xs: 0px 1px 2px 0px oklch(0% 0 0deg / 1%);
  --shadow-xs: 0px 1px 2px 0px oklch(0% 0 0deg / 1%);
  --shadow-sm: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 1px 2px -1px oklch(0% 0 0deg / 1%);
  --shadow: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 1px 2px -1px oklch(0% 0 0deg / 1%);
  --shadow-md: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 2px 4px -1px oklch(0% 0 0deg / 1%);
  --shadow-lg: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 4px 6px -1px oklch(0% 0 0deg / 1%);
  --shadow-xl: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 8px 10px -1px oklch(0% 0 0deg / 1%);
  --shadow-2xl: 0px 1px 2px 0px oklch(0% 0 0deg / 1%);
  /* Radius */
  --radius: .25rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --invert: var(--color-zinc-900);
  --invert-foreground: var(--color-zinc-50);
  /* Shades */
  /* Color Primary */
  --primary-l400: color-mix(in srgb, var(--primary) 60%, white 40%);
  --primary-l300: color-mix(in srgb, var(--primary) 70%, white 30%);
  --primary-l200: color-mix(in srgb, var(--primary) 80%, white 20%);
  --primary-l100: color-mix(in srgb, var(--primary) 90%, white 10%);
  --primary-d100: color-mix(in srgb, var(--primary) 80%, black 20%);
  --primary-d200: color-mix(in srgb, var(--primary) 80%, black 20%);
  --primary-d300: color-mix(in srgb, var(--primary) 70%, black 30%);
  --primary-d400: color-mix(in srgb, var(--primary) 60%, black 40%);
  /* Color 1 */
  --color-1-l400: color-mix(in srgb, var(--color-1) 60%, white 40%);
  --color-1-l300: color-mix(in srgb, var(--color-1) 70%, white 30%);
  --color-1-l200: color-mix(in srgb, var(--color-1) 80%, white 20%);
  --color-1-l100: color-mix(in srgb, var(--color-1) 90%, white 10%);
  --color-1-d100: color-mix(in srgb, var(--color-1) 80%, black 20%);
  --color-1-d200: color-mix(in srgb, var(--color-1) 80%, black 20%);
  --color-1-d300: color-mix(in srgb, var(--color-1) 70%, black 30%);
  --color-1-d400: color-mix(in srgb, var(--color-1) 60%, black 40%);
  /* Color-2 */
  --color-2-l400: color-mix(in srgb, var(--color-2) 60%, white 40%);
  --color-2-l300: color-mix(in srgb, var(--color-2) 70%, white 30%);
  --color-2-l200: color-mix(in srgb, var(--color-2) 80%, white 20%);
  --color-2-l100: color-mix(in srgb, var(--color-2) 90%, white 10%);
  --color-2-d100: color-mix(in srgb, var(--color-2) 80%, black 20%);
  --color-2-d200: color-mix(in srgb, var(--color-2) 80%, black 20%);
  --color-2-d300: color-mix(in srgb, var(--color-2) 70%, black 30%);
  --color-2-d400: color-mix(in srgb, var(--color-2) 60%, black 40%);
  /* Color-3 */
  --color-3-l400: color-mix(in srgb, var(--color-3) 60%, white 40%);
  --color-3-l300: color-mix(in srgb, var(--color-3) 70%, white 30%);
  --color-3-l200: color-mix(in srgb, var(--color-3) 80%, white 20%);
  --color-3-l100: color-mix(in srgb, var(--color-3) 90%, white 10%);
  --color-3-d100: color-mix(in srgb, var(--color-3) 80%, black 20%);
  --color-3-d200: color-mix(in srgb, var(--color-3) 80%, black 20%);
  --color-3-d300: color-mix(in srgb, var(--color-3) 70%, black 30%);
  /* Color-4 */
  --color-4-l400: color-mix(in srgb, var(--color-4) 60%, white 40%);
  --color-4-l300: color-mix(in srgb, var(--color-4) 70%, white 30%);
  --color-4-l200: color-mix(in srgb, var(--color-4) 80%, white 20%);
  --color-4-l100: color-mix(in srgb, var(--color-4) 90%, white 10%);
  --color-4-d100: color-mix(in srgb, var(--color-4) 80%, black 20%);
  --color-4-d200: color-mix(in srgb, var(--color-4) 80%, black 20%);
  --color-4-d300: color-mix(in srgb, var(--color-4) 70%, black 30%);
  --color-4-d400: color-mix(in srgb, var(--color-4) 60%, black 40%);
  /* Color-5 */
  --color-5-l400: color-mix(in srgb, var(--color-5) 60%, white 40%);
  --color-5-l300: color-mix(in srgb, var(--color-5) 70%, white 30%);
  --color-5-l200: color-mix(in srgb, var(--color-5) 80%, white 20%);
  --color-5-l100: color-mix(in srgb, var(--color-5) 90%, white 10%);
  --color-5-d100: color-mix(in srgb, var(--color-5) 90%, black 10%);
  --color-5-d200: color-mix(in srgb, var(--color-5) 80%, black 20%);
  --color-5-d300: color-mix(in srgb, var(--color-5) 70%, black 30%);
  --color-5-d400: color-mix(in srgb, var(--color-5) 60%, black 40%);
  /* Color-6 */
  --color-6-l400: color-mix(in srgb, var(--color-6) 60%, white 40%);
  --color-6-l300: color-mix(in srgb, var(--color-6) 70%, white 30%);
  --color-6-l200: color-mix(in srgb, var(--color-6) 80%, white 20%);
  --color-6-l100: color-mix(in srgb, var(--color-6) 90%, white 10%);
  --color-6-d100: color-mix(in srgb, var(--color-6) 90%, black 10%);
  --color-6-d200: color-mix(in srgb, var(--color-6) 80%, black 20%);
  --color-6-d300: color-mix(in srgb, var(--color-6) 70%, black 30%);
  --color-6-d400: color-mix(in srgb, var(--color-6) 60%, black 40%);
  /* Color-7 */
  --color-7-d400: color-mix(in srgb, var(--color-7) 60%, black 40%);
  --color-7-d300: color-mix(in srgb, var(--color-7) 70%, black 30%);
  --color-7-d200: color-mix(in srgb, var(--color-7) 80%, black 20%);
  --color-7-d100: color-mix(in srgb, var(--color-7) 90%, black 10%);
  --color-7-l100: color-mix(in srgb, var(--color-7) 90%, white 10%);
  --color-7-l200: color-mix(in srgb, var(--color-7) 80%, white 20%);
  --color-7-l300: color-mix(in srgb, var(--color-7) 70%, white 30%);
  --color-7-l400: color-mix(in srgb, var(--color-7) 60%, white 40%);
  /* Color-8 */
  --color-8-l400: color-mix(in srgb, var(--color-8) 60%, white 40%);
  --color-8-l300: color-mix(in srgb, var(--color-8) 70%, white 30%);
  --color-8-l200: color-mix(in srgb, var(--color-8) 80%, white 20%);
  --color-8-l100: color-mix(in srgb, var(--color-8) 90%, white 10%);
  --color-8-d100: color-mix(in srgb, var(--color-8) 90%, black 10%);
  --color-8-d200: color-mix(in srgb, var(--color-8) 80%, black 20%);
  --color-8-d300: color-mix(in srgb, var(--color-8) 70%, black 30%);
  --color-8-d400: color-mix(in srgb, var(--color-8) 60%, black 40%);
  /* Color-Grey */
  --grey-l700: color-mix(in srgb, var(--grey-1) 90%, white 10%);
  --grey-l600: color-mix(in srgb, var(--grey-1) 70%, white 30%);
  --grey-l500: var(--grey-1);
  --grey-l400: color-mix(in srgb, var(--grey-1) 90%, white 10%);
  --grey-l300: color-mix(in srgb, var(--grey-1) 80%, white 20%);
  --grey-l200: color-mix(in srgb, var(--grey-1) 70%, white 30%);
  --grey-l100: #585858;
  --grey-d100: var(--grey-2);
  --grey-d200: #4d4d4d;
  --grey-d300: #434343;
  --grey-d400: #383838;
  --grey-d500: #2c2c2c;
  --grey-d600: #292929;
  --grey-d700: #272727;
  --grey-d800: #252525;
}

.dark {
  --font-brand: 'Barlow', sans-serif;
  --font-display: 'Khand', sans-serif;
  --font-sans: 'Khand', sans-serif;
  --font-serif: 'Funnel Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --background: oklch(27% 0.09 254.40deg);
  --foreground: oklch(98% 0 0deg);
  --card: oklch(27% 0.09 254.40deg);
  --card-foreground: oklch(100% 0.0001 271.152deg);
  --popover: oklch(98% 0 0deg);
  --popover-foreground: oklch(27% 0.09 254.40deg);
  --primary: oklch(98% 0 0deg);
  --primary-foreground: oklch(27% 0.09 254.40deg);
  --secondary: oklch(78% 0.11 195.12deg);
  --secondary-foreground: oklch(84% 0.14 85.21deg);
  --muted: oklch(26.721% 0.0919 256.209deg / 69.6%);
  --muted-foreground: oklch(84% 0.14 85.21deg);
  --accent: oklch(78% 0.11 195.12deg);
  --accent-foreground: oklch(1% 0 0deg);
  --border: oklch(96% 0.01 210deg);
  --input: oklch(96% 0.01 210deg);
  /* Charts */
  --chart-1: oklch(52% 0.10 230.09deg);
  --chart-2: oklch(65% 0.12 219.43deg);
  --chart-3: oklch(78% 0.11 195.12deg);
  --chart-4: oklch(83% 0.04 220deg);
  --chart-5: oklch(84% 0.14 85.21deg);
  --chart-6: oklch(66% 0.18 44.85deg);
  --chart-7: oklch(55% 0.21 32deg);
  --chart-8: oklch(45% 0.14 340deg);
  /* States */
  --destructive: oklch(55% 0.21 31.81deg);
  --destructive-foreground: oklch(83% 0.04 220deg);
  --info: oklch(83% 0.04 220deg);
  --info-foreground: oklch(27% 0.09 254.40deg);
  --success: oklch(65% 0.12 219.43deg);
  --success-foreground: oklch(84% 0.14 85deg);
  --warning: oklch(55% 0.21 31.81deg);
  --warning-foreground: oklch(84% 0.14 85deg);
  --ring: oklch(78% 0.11 195.12deg);
  /* Colors */
  --primary-inverse: oklch(83% 0.04 220deg);
  --color-1: oklch(52% 0.10 230.09deg);
  --color-1-fade: color-mix(in srgb, var(--color-1) 80%, white 20%);
  --color-1-inverse-fade: color-mix(in srgb, var(--color-1-inverse) 90%, black 10%);
  --color-1-inverse: #eff5f6;
  --color-2: oklch(78% 0.11 195.12deg);
  --color-2-fade: color-mix(in srgb, var(--color-2) 80%, white 20%);
  --color-2-inverse: oklch(84% 0.14 85.21deg);
  --color-2-inverse-fade: color-mix(in srgb, var(--color-2-inverse) 80%, white 20%);
  --color-3: oklch(78% 0.11 195.12deg);
  --color-3-fade: color-mix(in srgb, var(--color-3) 80%, white 20%);
  --color-3-inverse: oklch(45% 0.14 340deg);
  --color-3-inverse-fade: color-mix(in srgb, var(--color-3-inverse) 80%, white 20%);
  --color-4: oklch(83% 0.04 220deg);
  --color-4-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse: oklch(27% 0.09 254.40deg);
  --color-5: oklch(84% 0.14 85.21deg);
  --color-5-fade: color-mix(in srgb, var(--color-5) 80%, white 20%);
  --color-5-inverse-fade: color-mix(in srgb, var(--color-5-inverse) 90%, white 10%);
  --color-5-inverse: oklch(27% 0.09 254.40deg);
  --color-6: oklch(66% 0.18 45deg);
  --color-6-fade: color-mix(in srgb, var(--color-6) 80%, white 20%);
  --color-6-inverse-fade: color-mix(in srgb, var(--color-6-inverse) 80%, white 20%);
  --color-6-inverse: oklch(27% 0.09 254.40deg);
  --color-7-fade: color-mix(in srgb, var(--color-7) 85%, black 15%);
  --color-7-inverse-fade: color-mix(in srgb, var(--color-4-inverse) 85%, black 15%);
  --color-7-inverse: oklch(83% 0.04 220deg);
  --color-7: oklch(55.% 0.21 32deg);
  --color-8: oklch(45% 0.14 340deg);
  --color-8-fade: color-mix(in srgb, var(--color-8) 80%, white 20%);
  --color-8-inverse-fade: color-mix(in srgb, var(--color-8-inverse) 80%, white 20%);
  --color-8-inverse: oklch(78% 0.11 195.12deg);
  --color-9: oklch(96% 0.01 210deg);
  --color-9-fade: color-mix(in srgb, var(--color-9) 80%, white 20%);
  --color-9-inverse-fade: color-mix(in srgb, var(--color-9-inverse) 80%, white 20%);
  --color-9-inverse: oklch(27% 0.09 254.40deg);
  /* Greys */
  --rev-color-grey-1: oklch(74.123% 0.001 271.152deg);
  --rev-color-grey-2: oklch(45.678% 0.005 271.152deg);
  --rev-color-grey-3: oklch(30.118% 0.003 271.152deg);
  /* Sidebar */
  --sidebar: oklch(100% 0 0deg);
  --sidebar-foreground: oklch(27% 0.09 254.40deg);
  --sidebar-primary: oklch(27% 0.09 254.40deg);
  --sidebar-primary-foreground: oklch(83% 0.04 220deg);
  --sidebar-accent: oklch(64% 0.14 215deg);
  --sidebar-accent-foreground: oklch(84% 0.14 85deg);
  --sidebar-border: oklch(100% 0 0deg);
  --sidebar-ring: oklch(78% 0.11 195.12deg);
  /* Shadows */
  --shadow-2xs: 0px 1px 2px 0px oklch(0% 0 0deg / 1%);
  --shadow-xs: 0px 1px 2px 0px oklch(0% 0 0deg / 1%);
  --shadow-sm: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 1px 2px -1px oklch(0% 0 0deg / 1%);
  --shadow: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 1px 2px -1px oklch(0% 0 0deg / 1%);
  --shadow-md: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 2px 4px -1px oklch(0% 0 0deg / 1%);
  --shadow-lg: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 4px 6px -1px oklch(0% 0 0deg / 1%);
  --shadow-xl: 0px 1px 2px 0px oklch(0% 0 0deg / 1%), 0px 8px 10px -1px oklch(0% 0 0deg / 1%);
  --shadow-2xl: 0px 1px 2px 0px oklch(0% 0 0deg / 1%);
  /* Radius */
  --radius: .25rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --invert: var(--color-zinc-700);
  --invert-foreground: var(--color-zinc-50);
}

.metrics {
  --positive: oklch(78% 0.11 195.12deg);
  --negative: oklch(66% 0.18 45deg);
  --total: oklch(83% 0.04 220deg);
  --total-var: oklch(27% 0.09 254.40deg);
  --transient: oklch(65% 0.12 219.43deg);
  --transient-var: oklch(78% 0.11 195.12deg);
  --group: oklch(84% 0.14 85.21deg);
  --group-var: oklch(66% 0.18 45deg);
  --crew: var(--grey-l700);
  --crew-var: var(--grey-l400);
  --complimentary: var(--grey-l700);
  --complimentary-var: var(--grey-l400);
  --other: var(--grey-l400);
  --other-var: var(--grey-l400);
}

@theme inline {
  --font-brand: 'Barlow', sans-serif;
  --font-display: 'Khand', sans-serif;
  --font-sans: 'Khand', sans-serif;
  --font-serif: 'Funnel Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* Computed Shadow Variants */
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  /* Radius */
  --radius: .25rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  /* Letter Spacing */
  --tracking-tighter: calc(var(--letter-spacing) - 0.05em);
  --tracking-tight: calc(var(--letter-spacing) - 0.025em);
  --tracking-normal: var(--letter-spacing);
  --tracking-wide: calc(var(--letter-spacing) + 0.025em);
  --tracking-wider: calc(var(--letter-spacing) + 0.05em);
  --tracking-widest: calc(var(--letter-spacing) + 0.1em);
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-heartbeat: heartbeat 2s infinite ease-in-out;
  --color-invert-foreground: var(--invert-foreground);
  --color-invert: var(--invert);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-destructive-foreground: var(--destructive-foreground);
  --grey-l700: var(--grey-l700);
  --grey-l600: var(--grey-l600);
  --grey-l500: var(--grey-l500);
  --grey-l400: var(--grey-l600);
  --grey-l300: var(--grey-l600);
  --grey-l200: var(--grey-l200);
  --grey-l100: var(--grey-l100);
  --grey-d100: var(--grey-d100);
  --grey-d200: var(--grey-d200);
  --grey-d300: var(--grey-d300);
  --grey-d400: var(--grey-d400);
  --grey-d500: var(--grey-d500);
  --grey-d600: var(--grey-d600);
  --grey-d700: var(--grey-d700);
  --grey-d800: var(--grey-d800);
}

@layer components {
  .card.shadow-primary {
    align-items: center;
    justify-content: center;
    box-shadow: .5px .5px 0 var(--primary), 1px 1px 0 var(--primary), 1.5px 1.5px 0 var(--primary), 2px 2px 0 var(--primary), 2.5px 2.5px 0 var(--primary), 3px 3px 0 var(--primary), 3.5px 3.5px 0 var(--primary), 4px 4px 0 var(--primary), 4.5px 4.5px 0 var(--primary), 5px 5px 0 var(--primary), 5.5px 5.5px 0 var(--primary)
  }

  .card.shadow-color-3 {
    align-items: center;
    justify-content: center;
    box-shadow: .5px .5px 0 var(--color-3), 1px 1px 0 var(--color-3), 1.5px 1.5px 0 var(--color-3), 2px 2px 0 var(--color-3), 2.5px 2.5px 0 var(--color-3), 3px 3px 0 var(--color-3), 3.5px 3.5px 0 var(--color-3), 4px 4px 0 var(--color-3), 4.5px 4.5px 0 var(--color-3), 5px 5px 0 var(--color-3), 5.5px 5.5px 0 var(--color-3)
  }

  .card.is-color-1 {
    background-color: var(--color-1);
    border-color: var(--color-1);
    color: var(--color-1-inverse);
    box-shadow: .5px .5px 0 var(--color-1-inverse), 1px 1px 0 var(--color-1-inverse), 1.5px 1.5px 0 var(--color-1-inverse), 2px 2px 0 var(--color-1-inverse), 2.5px 2.5px 0 var(--color-1-inverse), 3px 3px 0 var(--color-1-inverse), 3.5px 3.5px 0 var(--color-2-inverse), 4px 4px 0 var(--color-1-inverse), 4.5px 4.5px 0 var(--color-2-inverse), 5px 5px 0 var(--color-1-inverse), 5.5px 5.5px 0 var(--color-1-inverse)
  }

  .card.is-color-6 {
    background-color: var(--color-6);
    border-color: var(--color-6);
    color: var(--color-6-inverse);
    box-shadow: .5px .5px 0 var(--color-6-inverse), 1px 1px 0 var(--color-6-inverse), 1.5px 1.5px 0 var(--color-6-inverse), 2px 2px 0 var(--color-6-inverse), 2.5px 2.5px 0 var(--color-6-inverse), 3px 3px 0 var(--color-6-inverse), 3.5px 3.5px 0 var(--color-6-inverse), 4px 4px 0 var(--color-6-inverse), 4.5px 4.5px 0 var(--color-6-inverse), 5px 5px 0 var(--color-6-inverse), 5.5px 5.5px 0 var(--color-6-inverse)
  }

  .card.is-color-7 {
    background-color: var(--color-7);
    border-color: var(--color-7);
    color: var(--color-7-inverse);
    box-shadow: .5px .5px 0 var(--color-7-inverse), 1px 1px 0 var(--color-7-inverse), 1.5px 1.5px 0 var(--color-7-inverse), 2px 2px 0 var(--color-7-inverse), 2.5px 2.5px 0 var(--color-7-inverse), 3px 3px 0 var(--color-7-inverse), 3.5px 3.5px 0 var(--color-7-inverse), 4px 4px 0 var(--color-7-inverse), 4.5px 4.5px 0 var(--color-7-inverse), 5px 5px 0 var(--color-7-inverse), 5.5px 5.5px 0 var(--color-7-inverse)
  }

  .card.is-color-8 {
    background-color: var(--color-8);
    border-color: var(--color-8);
    color: var(--color-8-inverse);
    box-shadow: .5px .5px 0 var(--color-8-inverse), 1px 1px 0 var(--color-8-inverse), 1.5px 1.5px 0 var(--color-8-inverse), 2px 2px 0 var(--color-8-inverse), 2.5px 2.5px 0 var(--color-8-inverse), 3px 3px 0 var(--color-8-inverse), 3.5px 3.5px 0 var(--color-8-inverse), 4px 4px 0 var(--color-8-inverse), 4.5px 4.5px 0 var(--color-8-inverse), 5px 5px 0 var(--color-8-inverse), 5.5px 5.5px 0 var(--color-8-inverse)
  }

  .card.is-color-9 {
    background-color: var(--color-9);
    border-color: var(--color-9);
    color: var(--color-9-inverse);
    box-shadow: .5px .5px 0 var(--color-9-inverse), 1px 1px 0 var(--color-9-inverse), 1.5px 1.5px 0 var(--color-9-inverse), 2px 2px 0 var(--color-9-inverse), 2.5px 2.5px 0 var(--color-9-inverse), 3px 3px 0 var(--color-9-inverse), 3.5px 3.5px 0 var(--color-9-inverse), 4px 4px 0 var(--color-9-inverse), 4.5px 4.5px 0 var(--color-9-inverse), 5px 5px 0 var(--color-9-inverse), 5.5px 5.5px 0 var(--color-9-inverse)
  }

  .bg-color-primary {
    background-color: var(--primary);
    border-color: var(--primary)
  }

  .bg-color-1 {
    background-color: var(--color-1);
    border-color: var(--color-1)
  }

  .bg-color-2 {
    background-color: var(--color-2);
    border-color: var(--color-2)
  }

  .bg-color-3 {
    background-color: var(--color-3);
    border-color: var(--color-3)
  }

  .bg-color-4 {
    background-color: var(--color-4);
    border-color: var(--color-4)
  }

  .bg-color-5 {
    background-color: var(--color-5);
    border-color: var(--color-5)
  }

  .bg-color-6 {
    background-color: var(--color-6);
    border-color: var(--color-6)
  }

  .bg-color-7 {
    background-color: var(--color-7);
    border-color: var(--color-7)
  }

  .bg-color-8 {
    background-color: var(--color-8);
    border-color: var(--color-8)
  }

  .bg-color-9 {
    background-color: var(--color-9);
    border-color: var(--color-9)
  }

  .tag {
    align-self: center;
    flex: 0 0 auto;
    font-family: var(--font-display);
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: .025em;
    line-height: 1;
    padding: .25em .5em .35em;
    text-transform: uppercase
  }

  .is-outline {
    border-style: solid;
    border-width: 3px
  }

  .tag.is-color-primary {
    background-color: var(--primary-inverse);
    border-color: var(--primary);
    border-width: 4px solid var(--primary)
  }

  .tag.bg-color-primary.is-outline {
    cursor: auto;
    pointer-events: auto
  }

  .tag.is-color-1 {
    background-color: var(--color-1);
    border: 4px solid var(--color-1);
    color: var(--color-1-inverse);
    text-overflow: clip
  }

  .tag.is-color-1.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: auto
  }

  .is-color-2,
  .tag.is-color-2 {
    background-color: var(--color-2);
    border: 4px solid var(--color-2);
    color: var(--color-2-inverse)
  }

  .is-color-2.is-outline,
  .tag.is-color-2 .is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .is-color-3,
  .tag.is-color-3 {
    background-color: var(--color-3);
    border: 4px solid var(--color-3);
    color: var(--color-3-inverse)
  }

  .tag.is-color-3.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-4 {
    background-color: var(--color-4);
    border-width: 4px solid var(--color-4);
    color: var(--color-4-inverse)
  }

  .tag.is-color-4.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-5 {
    background-color: var(--color-5);
    border: 4px solid var(--color-5);
    color: var(--color-5-inverse)
  }

  .tag.is-color-5.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-6 {
    background-color: var(--color-6);
    border: 4px solid var(--color-6);
    color: var(--color-6-inverse)
  }

  .tag.is-color-6.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-7 {
    background-color: var(--color-7);
    border: 4px solid var(--color-7);
    color: var(--color-7-inverse)
  }

  .tag.is-color-7.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-8 {
    background-color: var(--color-8);
    border: 4px solid var(--color-8);
    color: var(--color-8-inverse)
  }

  .tag.is-color-8.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-9 {
    background-color: var(--color-9);
    border: 4px solid var(--color-9);
    color: var(--color-9-inverse)
  }

  .tag.is-color-9.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }
}

.jsx-text {
  color: var(--primary) !important;
}

.jsx-tag-angle-bracket {
  color: var(--secondary) !important;
}

.jsx-tag-name {
  color: var(--color-7) !important;
}

.jsx-tag-attribute-key {
  color: var(--color-8) !important;
}

.jsx-expression-braces {
  color: var(--color-8) !important;
}

.dark .jsx-text {
  color: var(--color-8) !important;
}

.dark .jsx-tag-angle-bracket {
  color: #79797f !important;
}

.dark .jsx-tag-name {
  color: var(--color-7) !important;
}

.dark .jsx-tag-attribute-key {
  color: var(--color-8) !important;
}

.dark .jsx-expression-braces {
  color: var(--color-8) !important;
}